name: test

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install Solana CLI
        run: |
          wget https://github.com/solana-labs/solana/releases/download/v1.18.11/solana-release-x86_64-unknown-linux-gnu.tar.bz2
          tar -xjf solana-release-x86_64-unknown-linux-gnu.tar.bz2
          ./solana-release/bin/solana --version
          echo "$PWD/solana-release/bin" >> $GITHUB_PATH

      - name: Install Anchor
        run: |
          cargo install --git https://github.com/coral-xyz/anchor anchor-cli --locked
          anchor --version

      - name: Build programs
        run: anchor build

      - name: Run PoC tests
        run: anchor test
